body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#venderButton {
    margin-top: 10%; /* Ajusta el valor según sea necesario para lograr el espacio deseado */
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

input[type="text"] {
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

body.centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura al 100% del viewport */
}



#botonesContainer{
    margin-top: 5%;
}

.running {
    color: red; /* Texto verde para contenedores corriendo */
}

.stopped {
    color: green; /* Texto rojo para contenedores parados */
}

.running-text {
    color: green; /* Texto verde para contenedores corriendo */
}

.stopped-text {
    color: red; /* Texto rojo para contenedores parados */
}

.imagenes img {
    max-width: 400px; 
    height: auto; /* Mantener la proporción de aspecto */
    display: block; /* Asegurar que las imágenes no tengan espacios debajo */
    margin-bottom: 10px; /* Espacio entre las imágenes */
}
.imagen {
    display: inline-block;
    margin-right: 10px; /* Espacio entre las imágenes */
}