body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#venderButton {
    margin-top: 10%; /* Ajusta el valor según sea necesario para lograr el espacio deseado */
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

input[type="text"] {
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
